<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technion.studybuddy"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <permission
        android:name="com.technion.studybuddy.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.technion.studybuddy.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- GCM requires a Google account. -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/stb_icon"
        android:label="@string/app_name"
        android:theme="@style/Theme.Sb_actionbar_style" >
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.technion.studybuddy.recognizedtest" />
            </intent-filter>
        </receiver>
        <!--
        <receiver android:name="STBWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_next_items" />
        </receiver>
        -->

        <service android:name="com.technion.studybuddy.GCMIntentService" />

        <!-- Study Buddy -->
        <activity
            android:name="com.technion.studybuddy.MainActivity"
            android:label="@string/app_name"
            android:parentActivityName="com.technion.studybuddy.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.technion.studybuddy.MainActivity" />
        </activity>
        <activity
            android:name="com.technion.studybuddy.Views.Activities.CourseActivity"
            android:parentActivityName="com.technion.studybuddy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.technion.studybuddy.MainActivity" />
        </activity>
        <activity
            android:name="com.technion.studybuddy.Views.Activities.EditCourse"
            android:label="@string/stb_title_activity_edit_course"
            android:parentActivityName="com.technion.studybuddy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.technion.studybuddy.MainActivity" />
        </activity>
        <activity
            android:name="com.technion.studybuddy.Views.Activities.StbSettingsActivity"
            android:parentActivityName="com.technion.studybuddy.MainActivity" >
        </activity>
        <activity
            android:name="com.technion.studybuddy.Views.Activities.CreateReviewPointActivityintActivity"
            android:label="@string/stb_title_activity_create_review_point"
            android:parentActivityName="com.technion.studybuddy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.technion.studybuddy.MainActivity" />
        </activity>
        <activity
            android:name="com.technion.studybuddy.charts.PieChartBuilder"
            android:parentActivityName="com.technion.studybuddy.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.technion.studybuddy.MainActivity" />
        </activity>

        <receiver android:name="com.technion.studybuddy.TaskReciever" >
        </receiver>

      
        <activity
            android:name="com.technion.studybuddy.Views.Activities.LinksViewActivity"
            android:label="@string/title_activity_links_view"
            android:parentActivityName="com.technion.studybuddy.Views.Activities.CourseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.technion.studybuddy.Views.CourseActivity" />
        </activity>
    </application>

</manifest>